<tr>
	<td class="align-middle">{{ task.id }}</td>
	<td class="align-middle">{{ task.title }}</td>
	<td class="align-middle">{{ task.description }}</td>
	<td class="p-0 text-center align-middle">
		<div class="custom-checkbox custom-control">
			<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1" {% if task.completed == true %} checked {% endif %}>
			<label for="checkbox-1" class="custom-control-label">&nbsp;</label>
		</div>
	</td>
	<td class="align-middle">{{ task.parentId }}</td>
	<td class="align-middle">
		<a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
		<a class="btn btn-danger btn-action" data-toggle="tooltip" title="" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i class="fas fa-trash"></i></a>
	</td>
</tr>